:root {
  --background: #ffffff;
  --primary-color: #018762;
  --primary-title: #131313;
  --primary-text-color: #404040;
}

* {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}